  /* Grid and Type scales are managed with https://utopia.fyi/ */
@use "utopia.scss";

:root {
  /* Font Families */
  --font-system: system-ui, sans-serif;
  --font-body: "Helvetica Neue", Inter, Roboto, "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --font-heading: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;

  --clr-black: #000;
  --clr-gray-10: #f5f5f5;
  --clr-gray-40: #1a1a1a;
  --clr-white: #fff;
  --clr-red: #fe2601;
  --clr-pink: #f9a4cf;

  --padding-primary: 1rem;
  --padding-xl: 4rem;

  /* Letterspacing */
  --tight: -0.05em;

  /* Light Theme */
  --background: var(--clr-gray-10);
  --background-alt: var(--clr-gray-10);
  --background-action: var(--clr-red);
  --text-primary: var(--clr-black);
  --text-secondary: var(--clr-white);
  --border-color: rgba(0, 0, 0, 0.125);
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-black);
    --text-primary: var(--clr-gray-10);
    --text-secondary: var(--clr-white);
    --background-action: var(--clr-red);
    --background-alt: var(--clr-gray-40);
    --border-color: rgba(255, 255, 255, 0.125);
  }
}

/*---------------------*/
/* GLOBAL STYLES       */
/*---------------------*/
/* Utopia Type */
/*
var(--fs--2);
var(--fs--1);
var(--fs-0);
var(--fs-1);
var(--fs-2);
var(--fs-3);
var(--fs-4);
var(--fs-5);
*/
/* Utopia Scale */
/*
var(--space-3xs);
var(--space-2xs);
var(--space-xs);
var(--space-s);
var(--space-m);
var(--space-l);
var(--space-xl);
var(--space-2xl);
var(--space-3xl);
*/


*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight Variable", sans-serif;
  font-weight: 400;
  font-size: var(--fs-0);
  line-height: 1.25;
  letter-spacing: -0.0133rem;
  text-rendering: optimizeLegibility;
  color: var(--text-primary);
  background: var(--background);
}

body {
  margin: 2rem;
}

h1 {
  font-size: var(--fs-5);
  letter-spacing: var(--tight);
  padding-bottom: 2rem;
}
h2 {
  font-size: var(--fs-4);
  padding-bottom: 0.5rem;
}

h3 {
  font-size: var(--fs-3);
  padding-bottom: 0.5rem;
}

.header-introduction {
  font-size: var(--fs-0);
  max-width: 80ch;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--background-alt);
  overflow-x: scroll;
  gap: 2rem;
  border-radius: 0.15rem;
  border: 1px solid var(--border-color);
}

table {
  margin: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid var(--border-color);
  font-size: var(--fs--1);
  padding: 0.5rem 1rem;
  text-align: left;
}

td {
  border-bottom: 1px solid var(--border-color);
  font-size: var(--fs--1);
  padding: 1rem;
}
th {
  background-color: var(--background-alt);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}
a:hover {
  border-bottom: 0.2rem solid #eee;
}

.neil {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

p {
  padding-bottom: 2rem;
}

.spinner {
  margin: 0 4vw;
  display: inline-block;
}