---

---

<div class="marquee-item"><slot /></div>

<style>
  :root {
    --marquee-font: clamp(8rem, 6rem + 15vw, 15rem);
  }
  /* .marquee-item {
    font-size: 15vw;
    line-height: 1em;
    color: #ccc;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
  } */

  .marquee-item {
    display: inline-block;
    padding: 0 calc(var(--marquee-font) / 10);
    letter-spacing: -0.55vw;
    font-weight: 900;
    font-size: var(--marquee-font);
    line-height: 112%;
  }
</style>
